<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.pay.dao.mapper.PayerBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jia.pay.dao.entity.PayerBank">
        <id column="id" property="id" />
        <result column="payer_id" property="payerId" />
        <result column="bank_code" property="bankCode" />
        <result column="payer_type" property="payerType" />
        <result column="payer_code" property="payerCode" />
        <result column="name" property="name" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, payer_id, bank_code, payer_type, payer_code,name,  delete_flag, update_time, create_time
    </sql>

</mapper>
